storytree-editor {

    div.editor {
    }

    div.linker {
        background: #efd1f6;      
    }

    div.editor textarea {
        font-size: 1.3em;
        padding: 6px;
        display: block;
        width: 100%;
        height: 100%;
        // background-image: url("/assets/image/paper_fibers.png");
        // background-repeat: repeat;
        resize: none;
        overflow-y: scroll;
        // -webkit-box-shadow: 0 10px 6px -6px #777;
        //    -moz-box-shadow: 0 10px 6px -6px #777;
        //         box-shadow: 0 10px 6px -6px #777;
    }
}