storytree-minimap {

    div.container {
        position: relative;
        border: 1px solid black;
        background-image: url("/assets/image/seamless_paper.png");
        background-repeat: repeat;
        overflow: scroll;
        // overflow-x: scroll;
        // overflow-y: hidden;
        margin: 3px;
        height: 193px;
        -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
                box-shadow: 0 10px 6px -6px #777;    
        
            
    }
    div.docMap {
        position: absolute;
        background-image: url("/assets/image/paper_fibers.png");
        background-repeat: repeat;
        width: 3000px;
        height: 400px;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    div.docGlyph {
        padding: 2px;
        position: absolute;
        display: block;
        width: 200px;
        height: 24px;
        border: 1px solid #555555;
        background-image: url("/assets/image/seamless_paper.png");
        background-repeat: repeat;
        -webkit-box-shadow: 0 10px 6px -6px #777;
            -moz-box-shadow: 0 10px 6px -6px #777;
                box-shadow: 0 10px 6px -6px #777;
        // top: 10px;
        // left: 10px;
        font-weight: bold;
    }

    svg {
        height: 400px;
        width: 3000px;
    }

}