
editor-view {

    storytree-editor {
        padding: 3px;
        display: block;
        overflow: auto;
    }

    storytree-minimap div {
        margin: 3px;
        height: 193px;
        -webkit-box-shadow: 0 10px 6px -6px #777;
           -moz-box-shadow: 0 10px 6px -6px #777;
                box-shadow: 0 10px 6px -6px #777;    
    }

    storytree-editor div {
        height: 100%;
        // display: block;
        // overflow: auto;
        padding: 4px;
        // background: yellow;
    }

    storytree-editor textarea {
        font-size: 1.3em;
        padding: 6px;
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("/assets/image/paper_fibers.png");
        background-repeat: repeat;
        resize: none;
        overflow-y: scroll;
        -webkit-box-shadow: 0 10px 6px -6px #777;
           -moz-box-shadow: 0 10px 6px -6px #777;
                box-shadow: 0 10px 6px -6px #777;
    }


}